folder('{{FOLDER}}') {

    displayName('{{FOLDER}}')

    description('Automatically created project folder')

}

pipelineJob('{{FOLDER}}/{{NAME}}') {

    description('Generated automatically by DevOps Platform')

    definition {

        cpsScm {

            scm {

                git {

                    remote {

                        url('{{APP_REPO}}')

                        credentials('{{GITHUB_CREDENTIALS}}')

                    }

                    branch('{{APP_BRANCH}}')

                }

            }

            scriptPath('Jenkinsfile')

        }

    }
    triggers {

        githubPush()

    }

}